*{
    margin: 10px;
}
.caja{
    border: 2px solid rgb(4, 112, 49) ;
    border-radius: 20px;
    background-color: white;
    width: 750px;
    padding: 10px;
}
.boton1{
    margin: 5px;
    border-radius: 20px;
    background-color: rgb(15, 128, 34);
    line-height: 80px;
    padding: 15px;
    color: white;
    text-decoration: none;
}