*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin: 0px;
}
.caja{
    border: 1px solid orange;
    margin: 10px;
}
.caja1{
    border: 1px dotted blue;
    margin-left: 10px;
    margin-right: 10px;
}
.caja2{
    width: 300px;
    border: 1px dashed coral;
    margin: 10px 30px;
}